@font-face {
    font-family: WC;
    src: url(../Fonts/WCManoNegraBta/WCManoNegraBta.ttf);
  }
@font-face{
    font-family: Anton;
    src: url(../Fonts/Anton.ttf);
}

.navbar{
    background-color: #ad1818;
}

.navbar-nav > li > a{
    color: rgb(255, 255, 255) !important;
}
#linka{
font-family: Anton;
font-size: 2em;
}