@font-face {
    font-family:'WC-B';
    src: url('/Fonts/WCManoNegraBta/WCManoNegraBta.ttf')
    format('TrueType');
}
.menuresponsivo {
    position: absolute;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1%;
    margin-right: 2%;
}

.navbar-nav > li > a{
    color: rgb(228, 209, 209) !important;
}
.nav-item{
    margin: 0 20px;
}
#linka{
font-family: WC-B;
}