@font-face {
    font-family: WC;
    src: url(../Fonts/WCManoNegraBta/WCManoNegraBta.ttf);
  }
@font-face{
    font-family: Anton;
    src: url(../Fonts/Anton.ttf);
}

	
body { overflow-x: hidden; 
background-color: #FFF9F4;
}

.navbar{
    background-color: #ad1818;
}

.navbar-nav > li > a{
    color: rgb(255, 255, 255) !important;
}
#linka{
    font-family: Anton;
    font-size: 2em;
}
.img-coroa{
    width: 350px;
    height: 200px;
    margin-left: 170px;
}
header{
    font-size: 10pt;
}
#logo{
    width: 70px;
    height: 70px;
    margin-right: 400px;
}
#nome_logo{
   width: 400px;
   margin-top: 170px;
    margin-left: 700px;
    font-family: WC;
    color: #ad1818;
    font-size: 65pt;
}