@font-face {
    font-family: WC;
    src: url(../Fonts/WCManoNegraBta/WCManoNegraBta.ttf);
  }
@font-face{
    font-family: Anton;
    src: url(../Fonts/Anton.ttf);
}
@font-face {
    font-family: Simonetta;
    src: url(../Fonts/Simonetta-Regular.ttf);
}
@font-face {
    font-family: Han;
    src: url(../Fonts/SourceHanSansKR/SourceHanSansKR-VF.otf);
}
body{
background-color: #fff9f4;
}
h1{
    font-family: Anton;
    font-size: 45pt;
    margin-left: 90px;
}
.img-fluid{
    width: 690px;
    height: 800px;
    border-radius: 15px;
    margin-left: 1150px;
    margin-top: -100px;
}
#fund{
    width: 1250px;
    height: 360px;
    background-color: #ad1818;
    margin-top: -640px;
    margin-left: -10px;
}
#his{
    text-align: center;
    font-size: 36pt;
    font-family: Simonetta;
}
#desc{
    margin-left: 320px;
    font-family: Han;
    width: 590px;
    font-size: 20pt;
    margin-top: -30px;
}
.txts{
    text-align: center;
    color: #ffffff;
    
}